runnings/*
data/*
# data/pretrain_model/bert_base_uncased/pytorch_model.bin
# data/pretrain_model/bert_base_uncased/vocab.txt
output_data/webq/*
Build_Data/__pycache__/*.pyc
Model/__pycache__/cal_f1.cpython-36.pyc
Model/Pairwise/__pycache__/*.pyc
Model/__pycache__/*.pyc
Build_Data/__pycache__/*.pyc
eval/*.txt
eval/bert_group1_webq_pointwise_two_sentence_cat_dense_activate_neg_5_42.txt
Model/common/__pycache__/*.pyc
Model/__pycache__/cal_f1.cpython-36.pyc
*.pyc
Model/merge/scores.txt
